#profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 6px 0 rgb(34,60,80, 0.16);
    transition: all ease-in-out .2s;
}

#profile-picture:hover {
    box-shadow: 0 8px 12px 0 rgb(34,60,80, 0.16);
}

.container {
    max-width: 840px;
    margin: 0px auto;
}

.introduction {
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
}

.i-am, .i-like, .interests {
    text-align: center;
}

.about-list {
    list-style: none;
    text-align: center;
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
    .my-photo {
        max-width: 300px;
        max-height: 300px;
    }
}

.projects-heading {
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-image {
    justify-self: center;
    padding: 4%;
    max-width: 92%;
}

@media (max-width: 650px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
    .my-photo {
        max-width: 300px;
        max-height: 300px;
    }
}

.links-and-contact {
    display: grid;
    grid-template-columns: 30% 70%;
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 650px) {
    .links-and-contact {
        grid-template-columns: 100%;
    }
}