.toasts {
    float: right;
    max-width: 248px;
    padding: 20px 30px;
    margin: 20px 10px;
    border-radius: 5px;
    color: #ffffff;
    position: fixed;
    top: 0px;
    right: 0px;
}

.success-color {
    background: rgba(0, 0, 0, 0.6);
}

.error-color {
    background: rgba(199, 15, 15, 0.6);
}